@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
}
.component-item {
  @apply p-2 rounded-md;
}

.component-item.active {
  @apply bg-indigo-50;
}

.component-item-container {
  @apply border rounded-md hover:border-indigo-400 cursor-pointer bg-white;
}

.component-item.active .component-item-container {
  @apply border-indigo-500;
}

.route-btn {
  @apply py-1 px-8 rounded-md border-[1px] border-black cursor-pointer hover:bg-black/50 hover:text-white;
}
.route-btn:focus {
  @apply pr-10;
}
.route-btn.active {
  @apply bg-black/70 text-white outline outline-blue-500;
}

.modal-btn {
  @apply border-[1px] border-black px-2 cursor-pointer outline-offset-2;
}

.preview {
  animation: slideIn 0.5s forwards;
}
@keyframes slideIn {
  from {
    width: 0;
    right: -100%;
  }
  to {
    width: 100%;
    right: 0;
  }
}
